/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.wrapper{
    background: #13131d;
    padding: 50px 0;
    font-family: roboto;
}
.block_star{
    position: fixed;
    z-index: 0;
}
.star1{
    top: 40px;
    left: 51px;
    height: 30px;
    width: 30px;
    background: url('../img/star.png')0 0/ 30px 30px no-repeat;
    animation: star1;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
    animation-iteration-count: infinite;
}
@keyframes star1 {
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
.star2{
    top: 99px;
    left: 260px;
    height: 20px;
    width: 20px;
    background: url('../img/star.png')0 0/ 20px 20px no-repeat;
}
.star3{
    top: 450px;
    right: 240px;
    height: 30px;
    width: 30px;
    background: url('../img/star.png')0 0/ 30px 30px no-repeat;
    animation: star3;
    opacity: 0.1;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes star3 {
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
.star4{
    bottom: 250px;
    right: 90px;
    height: 15px;
    width: 15px;
    background: url('../img/star.png')0 0/ 15px 15px no-repeat;
}
.star5{
    bottom: 320px;
    right: 300px;
    height: 25px;
    width: 25px;
    background: url('../img/star.png')0 0/ 25px 25px no-repeat;
}
.star6{
    top: 150px;
    right: 90px;
    height: 20px;
    width: 20px;
    background: url('../img/star.png')0 0/ 20px 20px no-repeat;
    animation: star6;
    opacity: 0.3;
    animation-delay: 2s;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
@keyframes star6 {
    0%{
        opacity: 0.3;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
.star7{
    top: 90px;
    left: 420px;
    height: 15px;
    width: 15px;
    background: url('../img/star.png')0 0/ 15px 15px no-repeat;
    animation: star7;
    opacity: 0;
    animation-delay: 8s;
    animation-duration: 19s;
    animation-iteration-count: infinite;
}
@keyframes star7 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.star8{
    bottom: 70px;
    right: 150px;
    height: 10px;
    width: 10px;
    background: url('../img/star.png')0 0/ 10px 10px no-repeat;
    animation: star8;
    opacity: 0.5;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes star8 {
    0%{
        opacity: 0.5;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
.star9{
    bottom: 120px;
    right: 230px;
    height: 15px;
    width: 15px;
    background: url('../img/star.png')0 0/ 15px 15px no-repeat;
    animation: star9;
    opacity: 0.1;
    animation-delay: 2s;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}
@keyframes star9 {
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
.star10{
    bottom: 520px;
    left: 62px;
    height: 15px;
    width: 15px;
    background: url('../img/star.png')0 0/ 15px 15px no-repeat;
    animation: star10;
    opacity: 0;
    animation-delay: 4s;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
@keyframes star10 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.star11{
    bottom: 120px;
    left: 187px;
    height: 25px;
    width: 25px;
    background: url('../img/star.png')0 0/ 25px 25px no-repeat;
    animation: star11;
    opacity: 0;
    animation-delay: 12s;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}
@keyframes star11 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.star12{
    bottom: 197px;
    left: 54px;
    height: 15px;
    width: 15px;
    background: url('../img/star.png')0 0/ 15px 15px no-repeat;
    animation: star12;
    opacity: 0;
    animation-delay: 3s;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}
@keyframes star12 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.star13{
    top: 453px;
    left: 213px;
    height: 17px;
    width: 17px;
    background: url('../img/star.png')0 0/ 17px 17px no-repeat;
    animation: star13;
    opacity: 0;
    animation-delay: 10s;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}
@keyframes star13 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.star14{
    top: 500px;
    left: 305px;
    height: 21px;
    width: 21px;
    background: url('../img/star.png')0 0/ 21px 21px no-repeat;
}
.star15{
    top: 130px;
    right: 370px;
    height: 16px;
    width: 16px;
    background: url('../img/star.png')0 0/ 16px 16px no-repeat;
}
.star16{
    bottom: 184px;
    left: 384px;
    height: 19px;
    width: 19px;
    background: url('../img/star.png')0 0/ 19px 19px no-repeat;
}
.block_projects{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
}
.block_projects_name{
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
}
.block_resume_info_contant{
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -8px 8px 20px 0 rgba(0,0,0,0.5);
    justify-content:space-between;
    background-color: rgba(255, 255, 255, 0.5);
}
.block_resume_info_contant a{
    color: black;
    font-size: 30px;
}

.block_resume_info_project__tittle{
    text-align: center;
    margin-top: 40px;
}
.block_resume_info_project__work{
    margin: 10px 0;
}
.block_slider_projects__item{
    max-width: 450px;
    margin: 65px auto;
}
.block_slider_projects__item:first-child{
    margin-top: 40px;
}
.block_slider_projects__item:last-child{
    margin-bottom: 50px;
}
.block_slider_projects__item_photo{
    height: 285px;
}
.block_slider_projects__item_photo a{
    height: 100%;
    width: 100%;
}
.block_slider_projects__item_photo-1{
    background: url('../img/imageProject/imageMiniProject/Gradient-Generator.png') 0 0/100% auto no-repeat;
}
.block_slider_projects__item_photo-2{
    background: url('../img/imageProject/imageMiniProject/Clock.png') 0 0/100% auto no-repeat;
}
.block_slider_projects__item_photo-3{
    background: url('../img/imageProject/imageMiniProject/LightHouse-Animation.png') 0 0/100% auto no-repeat;
}
.block_slider_projects__item_photo-4{
    background: url('../img/imageProject/imageMiniProject/Settings-Design.png') 0 center/100% auto no-repeat;
}
.block_slider_projects__item_photo-5{
    background: url('../img/imageProject/imageMiniProject/Carousel.png') 0 center/100% auto no-repeat;
}
.block_slider_projects__item_info{
    margin: 20px 20px;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: rgb(1, 1, 1);
}
.block_slider_projects__item_info .skills_project{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
    color: rgb(41, 41, 41);
}