/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.hidden{
    display: none;
}
.flex{
    display: flex;
}
.block_resume_info{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: url('../img/astronaut.jpg') 90% 0/cover no-repeat fixed;
    font-family: roboto;
}
.block_star{
    position: fixed;
    z-index: 0;
}
.star1{
    top: 40px;
    left: 51px;
    height: 30px;
    width: 30px;
    background: url('../img/star.png')0 0/ 30px 30px no-repeat;
    animation: star1;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
    animation-iteration-count: infinite;
}
@keyframes star1 {
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
.star2{
    top: 99px;
    left: 260px;
    height: 20px;
    width: 20px;
    background: url('../img/star.png')0 0/ 20px 20px no-repeat;
}
.star3{
    top: 450px;
    right: 240px;
    height: 30px;
    width: 30px;
    background: url('../img/star.png')0 0/ 30px 30px no-repeat;
    animation: star3;
    opacity: 0.1;
    animation-delay: 5s;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes star3 {
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
.star4{
    bottom: 250px;
    right: 90px;
    height: 15px;
    width: 15px;
    background: url('../img/star.png')0 0/ 15px 15px no-repeat;
}
.star5{
    bottom: 320px;
    right: 300px;
    height: 25px;
    width: 25px;
    background: url('../img/star.png')0 0/ 25px 25px no-repeat;
}
.star6{
    top: 150px;
    right: 90px;
    height: 20px;
    width: 20px;
    background: url('../img/star.png')0 0/ 20px 20px no-repeat;
    animation: star6;
    opacity: 0.3;
    animation-delay: 2s;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
@keyframes star6 {
    0%{
        opacity: 0.3;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
.star7{
    top: 90px;
    left: 420px;
    height: 15px;
    width: 15px;
    background: url('../img/star.png')0 0/ 15px 15px no-repeat;
    animation: star7;
    opacity: 0;
    animation-delay: 8s;
    animation-duration: 19s;
    animation-iteration-count: infinite;
}
@keyframes star7 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.star8{
    bottom: 70px;
    right: 150px;
    height: 10px;
    width: 10px;
    background: url('../img/star.png')0 0/ 10px 10px no-repeat;
    animation: star8;
    opacity: 0.5;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes star8 {
    0%{
        opacity: 0.5;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
.star9{
    bottom: 120px;
    right: 230px;
    height: 15px;
    width: 15px;
    background: url('../img/star.png')0 0/ 15px 15px no-repeat;
    animation: star9;
    opacity: 0.1;
    animation-delay: 2s;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}
@keyframes star9 {
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
.block_planet{
    position: fixed;
    z-index: 0;
    right: 30px;
    bottom: 470px;
    width: 200px;
    height: 200px;
    background: url('../img/planet.gif')0 0/ 200px 200px no-repeat;
    animation-duration: 25s;
}
.block_resume_info_contant{
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 0 auto;
    font-size: 22px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -8px 8px 20px 0 rgba(0,0,0,0.5);
    justify-content:space-between;
    background-color: rgba(255, 255, 255, 0.5);
}
.block_resume_info_contant a{
    color: black;
    font-size: 30px;
}
.block_my-name__text{
    text-align: center;
}
.block_name-profession_text{
    margin: 20px;
}
.block_profession__text{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}
.block_resume_info_contant_icon{
    margin: 40px 30px;
}

.block_resume_info_project{
    margin-top: 50px;
}
.block_resume_info_project__tittle{
    text-align: center;
    margin-top: 40px;
}
.block_resume_info_project__work{
    margin: 10px 0;
}
.block_slider_projects__item{
    max-width: 450px;
    margin: 65px auto;
}
.block_slider_projects__item:first-child{
    margin-top: 40px;
}
.block_slider_projects__item:last-child{
    margin-bottom: 50px;
}
.block_slider_projects__item_photo{
    height: 285px;
}
.block_slider_projects__item_photo a{
    height: 100%;
    width: 100%;
}
.block_slider_projects__item_photo-1{
    background: url('../img/imageProject/Electric-Home.png') 0 0/100% auto no-repeat;
}
.block_slider_projects__item_photo-2{
    background: url('../img/imageProject/King-Cinema.png') 0 0/100% auto no-repeat;
}
.block_slider_projects__item_photo-3{
    background: url('../img/imageProject/V.E.png') 0 0/100% auto no-repeat;
}
.block_slider_projects__item_photo-4{
    background: url('../img/imageProject/MyProjects.png') 0 center/100% auto no-repeat;
}
.block_slider_projects__item_info{
    margin: 20px 20px;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: rgb(1, 1, 1);
}
.block_slider_projects__item_info .skills_project{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
    color: rgb(41, 41, 41);
}


.block_resume_contacts{
    margin: 50px auto;
    padding: 50px 50px 50px 50px;
    color: rgb(1, 1, 1);
}
.block_resume_contacts__title{
    text-align: center;
}
.block_resume_contacts__connection_subtittle{
    margin-top: 50px;
    flex: 0 1 50%;
}
.block_resume_contacts__connection_name{
    font-size: 20px;
    font-weight: 600;
}
.block_resume_contacts__connection_props{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(41, 41, 41);
}


@media (max-width: 850px){
	.welcome_meme_image{
        background: url('../img/YayaVertical.png') 0 0/contain no-repeat;
        height: 500px;
        width: 35%;
        position: absolute;
        right: 0;
        left: 100%;
        bottom: -88%;
        transition: all 1s ease;
    }
    .welcome_meme_image:hover{
        bottom: -40%;
        left: 100%;
        right: 0;
        transition: all 9s ease;
    }
    .welcome_meme_text{
        font-family: verdana;
        font-size: 23px;
        margin: 0;
    }
    .welcome_meme_scratch{
        position: relative;
        right: 80px;
    }
    .welcome_meme_thrust{
        position: relative;
        top: 200px;
        right: 200px;
        font-size: 23px;
        margin: 0;
        color: rgb(0, 0, 0);
        height: 200px;
        transform: rotate(-90deg);
    }
    .welcome_meme_thrust_link a{
        margin: 0 100px;
        padding: 30px 80px 30px 0;
        position: relative;
        top: 20px;
        left: 10px;
    }
}
@media (max-width: 740px){
    .block_resume_info_contant{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 565px){
    .welcome_meme_image{
        height: 700px;
        width: 300px;
        bottom: -122%;
    }
    .welcome_meme_image:hover{
        bottom: -80%;
    }
    .welcome_meme_thrust{
        top: 325px;
        right: 200px;
    }
    .welcome_meme_thrust_link a{
        top: 40px;
        left: 10px;
    }
}